################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Promat.Translations/bin
/Promat.Translations/obj
/Promat.Translations.Tests.Integration/bin
/Promat.Translations.Tests.Integration/obj
/Promat.Translations.Tests.Unit/bin
/Promat.Translations.Tests.Unit/obj
/Promat.Translations/Properties/PublishProfiles
*.csproj.user
*.DotSettings.user
